.header {
	width: 100%;
	border-bottom: 3px solid var(--accent-6);
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 72px;
	height: 96px;
}
